.mainImageContainer {
    position: relative;
    width: 100%;
    height: 450px; /* Usa toda la altura de la pantalla */
    overflow: hidden;
  }
  
  .mainImage {
    width: 100%;
    height: 100%;
  }
  
  .mainText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente para legibilidad */
    border-radius: 8px;
  }
  
  .mainTextTwo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  
  }